

<!-- ::::::::::::::::::::::::::::nevera:::::::::::::::::::::::::::: -->
<div class="nevera col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="panel panel-default">
	 <header class="panel-heading">							 	
	 	<strong id="ciudad"class="nombre_nevera text-left  center-block"><!-- Santiago de cali --></strong>
	 </header>
	  <div class="panel-body">						  						  
	   <strong id="nombre_nevera"class="nombre_nevera text-center  center-block"><!-- Auxiliar_cali_br --></strong>
	   <div class="tiempo row">
	   		<span id="fecha" class="fecha text-right col-xs-6"><!-- 2014-10-31 --></span>
	   		<span id="hora" class="hora text-left col-xs-6"><!-- 10:53:00 --></span>
	   </div> 							    					    		
			<!-- ............... termometro................. -->
	    	<div class="center-block">							    	 	
	    		<div class="monitor center-block">
		    		<div class="termometro">
			    		<div class="luz">
			    			<div class="push">
			    				<div class="push-in">
			    				  <p class="display">
				                    <span id="temperatura_entero" class="temp_entero"><!-- 23 --></span>
				                    <span id ="temperatura_decimal" class="temp_decimal">.9</span>
				                    <span class="temp_grados">&deg;</span>
				                  </p>
			    				</div>
			    			</div>
						</div>
		    		</div>
	    		</div>							    												
	    	</div>			                    
        <!-- ................... info nevera..................... -->
        <div class="energia center-block text-center ">			                        	
          <i class="glyphicon glyphicon-ok alert-success"></i> 
          <i id="energia">Energia</i> 					              	 
        </div>						            
	  </div>
	</div>
	</div>